<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2016-2017 SlimRoms Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="slim"
          coreApp="true" android:sharedUserId="android.uid.system">

    <!-- Allows an application to write to Slim system settings -->
    <permission android:name="slim.permission.WRITE_SETTINGS"
                android:label="@string/permlab_writeSettings"
                android:description="@string/permdesc_writeSettings"
                android:protectionLevel="normal" />

    <!-- Allows an application to write to secure Slim system settings.
        <p>Not for use by third-party applications. -->
    <permission android:name="slim.permission.WRITE_SECURE_SETTINGS"
                android:label="@string/permlab_writeSecureSettings"
                android:description="@string/permdesc_writeSecureSettings"
                android:protectionLevel="signature|privileged|development" />

    <!-- Allows an application to register as slim status bar Only used by SystemUI.apk
    @hide -->
    <permission android:name="slim.permission.SLIM_ACTIONS_SERVICE"
                android:protectionLevel="signature" />

    <application />
</manifest>
